.editor h1, h2 {
  display: inline-block;
  margin-right: 50px;
}

.editor-composer {
  background-color: #ccc;
  padding: 15px;
  margin-bottom: 15px;
}

.editor-buttons button {
  margin-right: 15px;
}

#add-word {
  margin-bottom: 15px;
}

.line-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
